.titulo {
  color: red;
  background-color: black; }

footer {
  background-color: black; }
  footer h2 {
    color: red; }
  footer ul {
    list-style: none; }
    footer ul li {
      background-color: black; }

header {
  background-color: black; }
  header p {
    color: red; }
