@import "base/listas";
@import "base/extend";

h1{
    @extend %h1 ;
}

.escudo{
    display: flex;
  justify-content: center;
  height: 150px; ;
  margin: 0px 0px 20px 0px;
}

header{
    grid-area: header;
    justify-content: center;
    text-align: center;
    justify-items: center;
    justify-self: center;
    img{
        max-width: 250px;
    max-height: 250px;
    }
    h2{
        color: nth($colores, 2);
        font-family: 'Raleway', sans-serif;
        background-color: nth($colores, 3);
        display: flex;
        justify-content: flex-start;
    }
    h3{
        font-size: 20px;
    
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 20px;
    }
    nav{
        ul{
            background-color: nth($colores, 1);
            color: nth($colores, 2);
            font-size: 19px;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        li{
            background-color: nth($colores, 1);
            padding: 8px;
        }
        li:hover{
            background-color: nth($colores, 2);
            box-shadow: 1px 1px 20px nth($colores, 3);
            border-radius: 10px;
            transform: scale(1.1,1.1);
        }      
    }
    div{
        display: flex;
        justify-content: baseline;
    }

}

footer{
    grid-area: footer;
    ul{
        list-style: none;
        color: nth($colores, 1);
        font-size: 17px;
    }
    h2{
        background-color: nth($colores, 3);
        color: nth($colores, 2);
        font-family: 'Raleway', sans-serif;
    }
}

.titulo{
    background-color: nth($colores, 1);
    text-align: center;
}

.estadio{
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas: "header header header header"
    "main main section section"
    "footer footer footer footer";
    header p{
        font-size: 18px;
    }
}

main{
    grid-area: main;
    align-self: center;
    justify-self: center;
}

section{
    grid-area: section;
    align-self: center;
    justify-self: center;
}

.tituloh{
    background-color: nth($colores, 1);
    text-align: center;
}

.historia{
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "headerh headerh headerh headerh"
    "mainh mainh sectionh sectionh"
    "footerh footerh footerh footerh";
    header{
        grid-area: headerh;
        p{
            font-size: 18px;
        }
    }
    main{
        grid-area: mainh;
    }
    section{
        grid-area: sectionh;
    }
    footer{
        grid-area: footerh;
    }

}

.socios{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas: "headers headers"
    "mains sections"
    "footers footers";
    header{
        grid-area: headers;
        p{
            font-size: 18px;
        }
        ul{
            list-style-position: inside;
            justify-content: flex-start;
            font-size: 18px;
        }
    }
    main{
        grid-area: mains;
        p{
            font-size: 18px;
        }
        h2{
            background-color: nth($colores, 1);
        }
    }
    section{
        grid-area: sections;
    }
    footer{
        grid-area: footers;
    }
}

.contacto form fieldset legend{
    background-color: nth($colores, 1);
    font-size: 20px;
    font-weight: bold
}

.contacto form fieldset div{
    font-size: 17px;
    font-weight: bold
}

.deporteuno{
    @extend %deporteunoydos;
}

.deportedos{
    @extend %deporteunoydos;
}

.footerindex{
    @extend %footers;
}

.footercontacto{
    @extend %footers;
}

.footerestadio{
    @extend %footers;
}

.footerhistoria{
    @extend %footers;
}

.footersocios{
    @extend %footers;
}

@media screen and (max-width:1024px){
    .estadio{
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-areas: "header header"
        "main main"
        "section section"
        "footer footer";
    }

    .historia{
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-areas: "headerh headerh"
        "mainh mainh"
        "sectionh sectionh"
        "footerh footerh";
    }

    .socios{
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-areas: "headers headers"
        "mains mains"
        "sections sections"
        "footers footers";
    }

}

@media (max-width: 600px) and (min-width: 280px){
    .deporteuno{
        display: flex;
        flex-direction: column;
    }
    .deportedos{
        display: flex;
        flex-direction: column;
    }
    .deportetres{
        display: flex;
        flex-direction: column;
    }
}    

@media (max-width: 1024px) and (min-width: 600px){
    .deporteuno{
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "futbol basquet" "ciclismo golf";
    }
    .deportedos{
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "tenis esqui" "hockey voley";
    }
    .deportetres{
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "natacion rugby" "boxeo gimnasia";
    }
}

.futbol{
    grid-area: futbol;
}

.ciclismo{
    grid-area: ciclismo;
}

.tenis{
    grid-area: tenis;
}

.hockey{
    grid-area: hockey;
}

.natacion{
    grid-area: natacion;
    height: 210px;
    
}

.boxeo{
    grid-area: boxeo;
}

.basquet{
    grid-area: basquet;
}

.esqui{
    grid-area: esqui;
}

.gimnasia{
    grid-area: gimnasia;
}

.rugby{
    grid-area: rugby;
}

.golf{
    grid-area: golf;
}

.voley{
    grid-area: voley;
}